
<div class="container">
    <!-- <div class="banner mt-3">
        <h3>Discover Latest Courses On React</h3>
    </div> -->
    <div class="row mt-5 mb-3">
        <div class="col-md-9">
            <div class="main-header d-flex justify-content-between align-items-center">
                <h3 class="main-title mb-1">All Courses</h3>
                <select class="select" id="courseSelect" (change)="onChange($event.target.value)">
                    <option value="cp">Course Price</option>
                    <option value="l2h">Low to High</option>
                    <option value="h2l">High to Low</option>
                </select>
            </div>
            <ng-container *ngIf="courses.length > 0; else noCourse">
                <div class="card row mt-3" *ngFor="let course of courses">
                    <div class="course-wrapper d-flex justify-content-between align-items-center">
                        <div class="col-md-1 col-12 d-flex align-items-center px-2">
                            <div class="img-wrapper px-2">
                                <img [src]="course.image ? course.image : 'assets/images/no-image.png'" class="img-fluid" alt="item">
                            </div>
                        </div>
                        <div class="col-md-4 col-12 d-flex align-items-center px-2">
                            <div class="pattern px-2">
                                <p class="mb-1 pt-1">{{course.title}}</p>
                                <div class="badge-wrapper d-flex">
                                    <p class="badge bg-info me-1" *ngFor="let tag of course.tags">{{tag}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 d-flex align-items-center px-2">
                            <p class="text-muted mb-0">{{course.title}}</p>
                        </div>
                        <div class="col-md-3 col-12 d-flex align-items-center px-2">
                            <div class="price d-flex">
                                <span class="px-3 wish-wrapper" title="add to wishlist" (click)="addToWishlist(course)"><i class="fa fa-heart wish-icon clickable"></i></span>
                                <p class="mb-0 px-2 price-bold">{{(course.discounted_price | currency:'INR') || "-"}}</p>
                                <p class="text-muted mb-0 px-1 actual-price">{{(course.actual_price | currency:'INR') || "-"}}</p>
                            </div>
                        </div>
                        <div class="col-md-2 col-12 d-flex align-items-center justify-content-between px-2">
                            <button class="btn btn-sm btn-warning text-white" (click)="addToCart(course)">Add to cart</button>
                            <i class="fa fa-chevron-right text-muted px-2 clickable" (click)="goToDetailPage(course)"></i>
                        </div>
                    </div>            
                </div>
            </ng-container>
        </div>
        <div class="col-md-3">
            <div class="input-group search-wrapper">
                <input type="text" class="form-control" placeholder="Search.." aria-label="search"
                    aria-describedby="search-box" #search (keyup)="filterData(search.value)">
                <div class="input-group-prepend h-100">
                    <button class="input-group-text btn btn-warning" id="search-btn">
                        <i class="fa fa-search text-white"></i>
                    </button>
                </div>
            </div>

            <div class="card cart-detail mt-3">
                <div class="card-header bg-white">
                    <p class="mb-0 cart-value">Your Cart Details</p>
                </div>
                <div class="card-body">
                    <ng-container *ngIf="courseInCart.length > 0; else noItemInCart">
                        <div *ngFor="let item of courseInCart" class="d-flex flex-column course-cart mt-2">
                            <div class="cart-wrapper d-flex">
                                <div class="img-wrapper px-2">
                                    <img [src]="'assets/images/no-image.png'" class="img-fluid" alt="item">
                                </div>
                                <p class="mb-0 text-muted mx-1">{{item.title}}</p>
                            </div>
                            <div class="actual-price">
                                <p class="mb-0 cart-value float-end">{{(item.discounted_price | currency:'INR') || "-"}}</p>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="card-footer bg-white">
                    <div class="price-wrapper">
                        <p class="mb-1">Total Cart Value</p>
                        <p class="mb-0 cart-value"><span>{{totalCartAmount | currency: 'INR'}}</span> /-</p>
                    </div>
                    <a class="nav-link" [routerLink]="['/cart']" routerLinkActive="active">
                        <p class="mb-0 py-1 text-uppercase text-warning float-end clickable text-decoration-underline">Go to Checkout</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noItemInCart>
    <p class="text-muted sm-txt">Your cart is empty right now. Please add courses in the cart from the list.</p>
</ng-template>
<ng-template #noCourse>
    <div class="cart p-3 bg-white d-flex align-items-center justify-content-center mt-5">
        <p class="mb-0">No course for now</p>
    </div>
</ng-template>

<div class="m-container">
    <div #modal></div>
</div>