.company-logo {
    text-decoration: none;
    color: bisque;
    font-size: 2rem;
    margin-left: 20px;
}

.nav-item a {
    color: white;
    padding: 0 11px;
    text-transform: uppercase;
    cursor: pointer;
}
