<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand company-logo" [routerLink]="['/']" routerLinkActive="active">
        <img src="assets/images/logo.png" alt="Hashedin Logo"  style="height: 40px; width: 150px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"  (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span> 
    </button>
    <div class="collapse navbar-collapse flex-row-reverse" [ngClass]="{ 'show': navbarOpen }" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 gap-2">
                <li class="nav-item">
                  <a [routerLink]="['/courses']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                  class="nav-link text-white spacing" aria-current="page">Courses</a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/wishlist']" routerLinkActive="active" class="nav-link text-white spacing">My Wishlist</a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/cart']" routerLinkActive="active" class="nav-link text-white spacing position-relative">
                    <i class="fa fa-cart-plus position-relative"></i>
                    <!-- <span class="badge badge-pill" id='lblCartCount'> {{cartLength}} </span>   -->
                  </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/profile']" routerLinkActive="active" class="nav-link text-white spacing"><i class="fa fa-user-circle"></i></a>
                  </li>
                <li class="nav-item">
                    <a routerLinkActive="active" class="nav-link text-white spacing"><i class="fa fa-sign-out" (click)="logout()"></i></a>
                  </li>
              </ul>
        </div>
    </div>
</nav>
